*{
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  font-size: 1.2em;
  margin: 0 0 3em;
}


section{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

img{
  max-width: 100%;
}

a:not(.button), a:visited:not(.button){
  color: #4a89dc;
  text-decoration: none;
}

a:hover:not(.button){
  transition: all 0.2s linear;  
  text-decoration: underline;
}

w-100{
  max-width: 100%;
}

.centered{
  text-align: center;
}

.btn{
  margin:20px;
}

.btn-lg {
  font-size: 1.25rem;
  height: 3rem;
  padding: 0 1rem;
}

.sub{

    height: 45px;
    padding: 12px 30px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}